<div appLogger [message]="'some text'">
  <div [ngClass]="{javascript: isJavaScript(item)}" *ngFor="let item of languages">
    <app-language [item]="item"></app-language>
  </div>
    Please, enter your option:
    <input type="text">
    <button type="button">
      Submit</button>
  <div>You chosen ...</div>
</div>
<div>{{title | quote : "param1" : "param2"}}</div>

<form (ngSubmit) = "save()" [formGroup]="userForm">
  <input type="text" formControlName="userName">
  <div *ngIf="!userForm.get('userName').valid && userForm.get('userName').touched">Please, enter valid user name</div>
  <input type="submit" value="Save">
</form>
